<a href="https://colab.research.google.com/github/Gurneet-Singh/Python-Programs/blob/main/Copy_of_DS3_Project_2_Airbnb_Bookings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<img src="https://static.junilearning.com/images/juni_logo.png" height=75 align=center hspace="5px"> **DS3 Airbnb Bookings**

You have been contracted to do seasonal work in Los Angeles during the Summer / Winter and are looking for flexible housing. You decide to explore listings on Airbnb and first need to decide whether to rent a room or an entire home / apartment. You first want to see the difference in the number of reviews between private rooms versus entire homes. Begin by importing the CSV dataset into a DataFrame and getting the mean number of reviews for entire homes and for private rooms. 

Dataset: https://static.junilearning.com/python_data_science/airbnb_listings.csv

In [ ]:
import pandas as pd

df = pd.read_csv('https://static.junilearning.com/python_data_science/airbnb_listings.csv')
display(df)

             id  ... availability_365
0           109  ...                0
1          2708  ...              315
2          2732  ...              365
3          2864  ...                0
4          5728  ...                1
...         ...  ...              ...
31895  48070933  ...              180
31896  48070985  ...              179
31897  48071306  ...              270
31898  48071488  ...              362
31899  48072320  ...              343

[31900 rows x 16 columns]

In [ ]:
df[df['room_type'] == 'Private room']["number_of_reviews"].mean()

29.741912728005644

In [ ]:
df[df['room_type'] != 'Private room']["number_of_reviews"].mean()

35.25135368794649

From our previous findings we found that entire homes have more reviews on average than private rooms, indicating that they're more popular. Now that you've decided to rent an entire home, you next want to identify listings that meet your requirements. Your requirements are: `price < $200`, `location = Hollywood`, `minimum nights = 30`, `reviews = 10`, and `availability = 200`. Output a DataFrame with entire home listings that meet these requirements.

In [ ]:
df2 = df[(df["price"] < 200) & (df["neighbourhood"] == "Hollywood") & (df["minimum_nights"] >= 30) & (df["number_of_reviews"] >= 10) & (df["availability_365"] >= 200)]

Now we want to pick the best listing that meets our requirements. Most importantly we want to rank the listings according to lowest price and least reviews per month (which helps us figure out if it's available often). Now let's grab the columns of price and reviews per month and output the summary statistics for each.

In [ ]:
df2["price"].min()

35

In [ ]:
df2["price"].describe()

count    167.000000
mean      94.317365
std       36.721205
min       35.000000
25%       69.000000
50%       89.000000
75%      119.500000
max      199.000000
Name: price, dtype: float64

In [ ]:
df2["reviews_per_month"].describe()

count    167.000000
mean       1.594611
std        1.392229
min        0.130000
25%        0.540000
50%        1.210000
75%        2.150000
max        6.090000
Name: reviews_per_month, dtype: float64

In [ ]:
df2["number_of_reviews"].min()

10

Finally let's filter our DataFrame to only include prices and reviews in the first quartile. Then decide on the ID number of the best two listings and type the ID's in the text box below.

In [ ]:
#df3 = pd.read_csv("https://static.junilearning.com/python_data_science/airbnb_listings.csv", nrows = 7975)
df3 = df2[(df2["price"] <= 69) & (df2["reviews_per_month"] <= 0.54)]
#display(df3)
#df3[(df["price"] < 50) & (df["host_id"] > 5000000) & (df["minimum_nights"] == 30) & (df["number_of_reviews"] > 89) & (df["reviews_per_month"] > 5)]

df3.sort_values(['price','reviews_per_month'],ascending=[True,False])

NameError: ignored

Best Listings ID's -