<a href="https://colab.research.google.com/github/Gurneet-Singh/Python-Programs/blob/main/Copy_of_DS3_Project_1_Flight_Delays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<img src="https://static.junilearning.com/images/juni_logo.png" height=75 align=center hspace="5px"> **DS3 Flight Delays**

Everybody knows the stresses of traveling during the holiday season. The long lines, weather delays, and crowded planes make the flying experience almost unbearable. The U.S. Department of Transportation has hired you to investigate the causes of flight delays and summarize the reasons behind airport congestion during the holidays. They have provided you with the following dataset (https://static.junilearning.com/python_data_science/flight_delays.csv) with data from December 2008.

Begin by importing the data into a DataFrame.

In [ ]:
import pandas as pd
import os

e = pd.read_csv("https://static.junilearning.com/python_data_science/flight_delays.csv")

In [ ]:
display(e)

        Unnamed: 0  Year  Month  ...  NASDelay  SecurityDelay  LateAircraftDelay
0          1733373  2008     12  ...       0.0            0.0               40.0
1          1733375  2008     12  ...       0.0            0.0                0.0
2          1733376  2008     12  ...       7.0            0.0                2.0
3          1733377  2008     12  ...       7.0            0.0               13.0
4          1733378  2008     12  ...       0.0            0.0               13.0
...            ...   ...    ...  ...       ...            ...                ...
141368     1936751  2008     12  ...      13.0            0.0                0.0
141369     1936752  2008     12  ...       0.0            0.0               17.0
141370     1936753  2008     12  ...       0.0            0.0               22.0
141371     1936754  2008     12  ...      18.0            0.0                0.0
141372     1936755  2008     12  ...      19.0            0.0               79.0

[141373 rows x 27 columns]

Create a copy of the DataFrame and drop every column that doesn't include the word "Delay". Display the DataFrame. How are the different categories related?
Summarize the DataFrame using `describe()`.

From our summary statistics, which category of delay seems to be the biggest issue?

**Student Analysis:**

In [ ]:
delays = e.copy()

for column in delays.columns:
  if "Delay" not in column:
    delays.drop(column, inplace = True, axis = 1)

display(delays)
delays.describe()

        ArrDelay  DepDelay  ...  SecurityDelay  LateAircraftDelay
0           41.0      41.0  ...            0.0               40.0
1           25.0      34.0  ...            0.0                0.0
2           23.0      16.0  ...            0.0                2.0
3           20.0      25.0  ...            0.0               13.0
4           19.0      22.0  ...            0.0               13.0
...          ...       ...  ...            ...                ...
141368      64.0      51.0  ...            0.0                0.0
141369      17.0      32.0  ...            0.0               17.0
141370      25.0      30.0  ...            0.0               22.0
141371      75.0      57.0  ...            0.0                0.0
141372      99.0      80.0  ...            0.0               79.0

[141373 rows x 7 columns]

            ArrDelay       DepDelay  ...  SecurityDelay  LateAircraftDelay
count  141373.000000  141373.000000  ...  141373.000000      141373.000000
mean       69.083319      64.088008  ...       0.085476          30.257531
std        66.736958      64.999711  ...       1.708695          47.637970
min        15.000000       6.000000  ...       0.000000           0.000000
25%        28.000000      25.000000  ...       0.000000           0.000000
50%        47.000000      44.000000  ...       0.000000          14.000000
75%        86.000000      81.000000  ...       0.000000          40.000000
max      1655.000000    1597.000000  ...     254.000000        1143.000000

[8 rows x 7 columns]

Now let's investigate the problem further. Let's determine the number of flights in our dataset that occurred on each day of the month. Group the original DataFrame by `DayofMonth` and use `count()` to get a count of the number of flights for each day. Determine which days had the minimum and maximum number of flights.

In [ ]:
#display(e.groupby('DayofMonth').count())

In [ ]:
#display(e)
grouped = e.groupby("DayofMonth").count()["Year"]
maxcount = grouped.max()
maxindx = grouped.idxmax()

In [ ]:
grouped = e.groupby("DayofMonth").count()["Year"]
mincount = grouped.min()
minindx = grouped.idxmin()
print(mincount, minindx)

1442 6

The Department of Transportation would like the know how the number of flights impacts delays. Make two new DataFrames for flights during the day of the month with the highest and lowest number of flights. Then output the mean `ArrDelay` for each DataFrame.

In [ ]:
e[e["DayofMonth"] == maxindx]["ArrDelay"].mean()

75.02513128282071

In [ ]:
e[e["DayofMonth"] == minindx]["ArrDelay"].mean()

50.28224687933426